
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    line-height: 52px;
    font-family: "Raleway", sans-serif;
    transition: 0.4s;
}

.cabecalho a:hover .logo {
    opacity: 50%;
    transform: scale(1.08);

}


.cabecalho .menu .itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho .menu .itens .item{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    transition: 0.2s;
}

.cabecalho .menu .itens .item:hover {
    background-color: #ffffff;
    border-radius: 50px;
}

.cabecalho .menu .itens .item:hover a{
    color: #000
}

.botao .checkbox {
    opacity: 0;
    position: absolute;
}

.botao .label {
    background-color: #3b3838;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 36px;
    width: 60px;
    transform: scale(1.1);
}

.botao .label .bola {
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    height: 26px;
    width: 26px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .bola {
    transform: translateX(26px);
}

.fa-moon {
    color: #000000;
}

.fa-sun {
    color: #ffffff;
}

body.white {    
    background: linear-gradient(to bottom, #ffffff, #ada8a8);
    color: #000;
}

body.white a {
    color: #000;
}

body.white .home .redes-sociais a i {
    border-color: #000;
    color: #000;
}

body.white .home .redes-sociais a i:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.3);
    color: #ffffff;
}

body.white .cabecalho .logo {
    border-color:#000;
}

body.white .cabecalho .menu .itens .item:hover {
    background-color: #000000;
    border-radius: 50px;
}

body.white .cabecalho .menu .itens .item:hover a{
    color: #fff
}

body.white .botao .label .bola {
    background-color: #fff;
}
